/* HTML Doc */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  width: 90%;
  max-width: 1100px;
  margin: auto;
}

div.featurette:nth-of-type(even) {
  background-color: #f8f8f8;
}

div.featurette:nth-of-type(odd) {
  background-color: #f4f4f4;
}
.featurette {
  padding: 50px;
}

/* Nav */
.main-nav {
  display: flex;
  background-color: #292929;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  padding: 20px 0;
}
.main-nav img {
  width: 100px;
  margin-left: 130px;
}
.main-nav ul {
  display: flex;
  list-style: none;
  margin-right: 30px;
}
.main-nav ul.main-menu {
  flex: 1;
}
.main-nav a {
  font-size: 13px;
  font-weight: bold;
  font-family: 'Lato', sans-serif;
  color: #808080;
  margin-top: 30px;
}
.main-nav a:hover {
  color: #e0e4e4;
}
.main-nav i {
  color: #808080;
}
.spacer-30 {
    width: 1px;
    height: 30px;
    display: block;
    clear: both;
}


/* Home 1 */
.home1 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}
.home1 .img-circle {
  border-radius: 50%;
  width: 190px;
  margin-bottom: 10px;
}
.home1 h3 {
  margin-top: 4px;
  color: rgb(102, 102, 102);
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  font-size: 22px;
}
.home1 p {
  text-align: center;
  color: rgb(102, 102, 102);
  font-family: 'Lato', sans-serif;
  font-size: 17px;
  word-wrap: break-word;
}
.button-detail {
  background-color: transparent;
  border-color: lightgrey;
  border-width: 1px;
  border-radius: 40px;
  padding-right: 7px;
  padding-left: 7px;
  padding-top: 2px;
  padding-bottom: 2px;
  box-shadow: none;
}
.button-detail:hover {
  background-color: lightgrey;
}
.button-detail:hover i {
  margin-left: 2px;
}


/* Home 2 */
.home2 {
  display: grid;
  grid-template-columns: 20% 80%;
}
.home2 .img-rounded {
  padding: 10px;
  border-radius: 6px;
  width: 210px;
}
.home2 h3 {
  text-align: left;
  margin-left: 50px;
  font-size: 25px;
  font-weight: 600;
  margin-top: 10px;
  font-family: 'Lato', sans-serif;
  color: rgb(102, 102, 102);
} 
.home2 p {
  text-align: left;
  margin-left: 50px;
  font-size: 17px;
  margin-top: 10px;
  font-family: 'Lato', sans-serif;
  color: rgb(102, 102, 102);
}

/*  Home 3 */
.home3 {
  display: grid;
  grid-template-columns: 80% 20%;
}
.home3 .img-rounded {
  padding: 10px;
  border-radius: 6px;
  width: 210px;
}
.home3 h3 {
  text-align: left;
  margin-right: 50px;
  font-size: 25px;
  font-weight: 600;
  margin-top: 10px;
  font-family: 'Lato', sans-serif;
  color: rgb(102, 102, 102);
} 
.home3 p {
  text-align: left;
  margin-right: 50px;
  font-size: 17px;
  margin-top: 10px;
  font-family: 'Lato', sans-serif;
  color: rgb(102, 102, 102);
}



@media(max-width: 992px) {
  .home1 {
    grid-template-columns: 1fr;
  }
  .home2 {
    grid-template-columns: 1fr;
  }
  .home3 {
    display: flex;
    flex-direction: column-reverse;
    grid-template-columns: 1fr;
  }
  .home3 h3, .home3 p
  {
    text-align: left;
    margin-left: 50px;
    float: bottom;
  }
}